@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
}

#backgrounder{
    background-image: linear-gradient(black 1%,rgba(255, 255, 255, 0)99%),url(IMG/Backgrounds/Section1Background.jpg);
    background-size: 100%;
}

.topheader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding:24px;
}

.topheader-logo{
    width: 9%;
}

.topheader-menu{
    display:flex;
    flex-direction: row;
    gap: 100px;
}

.topheader-menu-item{
    font-family: 'Righteous', sans-serif;
    font-weight: 400;
    color: rgb(218, 227, 235);
}

.topheader-menu-item:hover, .topheader-socialmedia-logo:hover{
    opacity:0.8;
}

.topheader-socialmedia{
    width:10%
}

.topheader-socialmedia-logo{
    width:25%;
}