@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
/* smooth scroll */
html {
    scroll-behavior: smooth;
}
/*CSS reset*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
}

/* HEADER */
#frontpage{ /* section 1 background */
    background-image: linear-gradient(black 1%,rgba(255, 255, 255, 0)99%),url(IMG/Backgrounds/Section1Background.jpg);
    background-size: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding:24px;
}

.header-logo{
    width: 9%;
}

.header-menu{
    display:flex;
    flex-direction: row;
    gap: 100px;
}

.header-menu-item{
    font-family: 'Righteous', sans-serif;
    font-size: 22px;
    color: rgb(218, 227, 235);
}

.header-menu-item:hover, .header-socialmedia-logo:hover{
    opacity:0.7;
}

.header-socialmedia{
    width:10%
}

.header-socialmedia-logo{
    width:25%;
}

/* HEADER */

/* TOP PAGE SECTION1 */
.content-section1{
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: center;
    min-height: 85vh;
}

.content-section1-logo{
    width: 400px;
    margin-bottom:5rem;
}

.content-section1-presentation{
    width: 80ch;
}

.content-section1-presentation-title{
    width: 60%;
    margin-left:70px;
}

.content-section1-caption1{
    font-family: 'Sarala', sans-serif;
    color: white;
    margin-left:30px
}

.content-section1-caption2{
    font-family: 'Sarala', sans-serif;
    font-size: 20px;
    color: white;
}

.content-section1-button {
    background-image: linear-gradient(144deg,#40ffc6, #4254f3 50%,#0037eb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    line-height: 1em;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    opacity:0.5;
    max-width: 100%;
    transition: 150ms;
}

.content-section1-button:hover {
  opacity: 1.0;
}
/* TOP PAGE SECTION1 */

/* CARDS */

.cardswrapper{
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://i.ebayimg.com/images/g/ZdUAAOSwanBk8m6h/s-l1200.webp);
    background-size: 100%;
}

.container{
    height:450px;
    display:flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card{
    width:80px;
    border-radius:.75rem;
    background-size:cover;
    cursor: pointer;
    overflow:hidden;
    border-radius:2rem;
    margin:0 10px;
    display:flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0,8);
}

.card > .row{
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon{
    font-family: 'Sarala', sans-serif;
    background: #223;
    color: white;
    border-radius:50%;
    width: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:15px;
}

.card > .row> .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height:80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
    font-family: 'Sarala', sans-serif;
}

.description h4 {
    text-transform: uppercase;
    font-family: 'Righteous', sans-serif;
}

input{
    display: none;  
}

input:checked + label {
    width: 450px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for='mercury'] {
    background-image: url(IMG/Planets/1-Mercury/MercuryBackground.jpg);
}
.card[for='venus'] {
    background-image: url(IMG/Planets/2-Venus/VenusBackground.jpg);
}
.card[for='earth'] {
    background-image: url(IMG/Planets/3-Earth/EarthBackground.jpg);
}
.card[for='mars'] {
    background-image: url(IMG/Planets/4-Mars/MarsBackground.jpg);
}
.card[for='jupiter'] {
    background-image: url(IMG/Planets/5-Jupiter/JupiterBackground.png);
}
.card[for='saturn'] {
    background-image: url(IMG/Planets/6-Saturn/SaturnBackground.png);
}
.card[for='uranus'] {
    background-image: url(IMG/Planets/7-Uranus/UranusBackground.jpg);
}
.card[for='neptune'] {
    background-image: url(IMG/Planets/8-Neptune/NeptuneBackground.jpg);
}

.scrollpagelink{
    font-family: 'Sarala', sans-serif;
    color:white;
}

.scrollpagelink:hover{
    opacity:0.5;
}
/* CARDS */

/* INFO SECTION (section 3) */
#planetInfoGlobe{
    max-width: 300px;
}

.content-section3-planetsinfo{
    background-image: url(IMG/Backgrounds/InfoBackground.jpg);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    color: white;

}

.planetsinfowrapper{
    min-width:1200px;
    min-height: 650px;
}

.planetsBasicInfo {
    margin-left: 5%;
    font-family: 'Righteous', sans-serif;
    font-size: 20px;
    width: 35ch;
}

.content-section3-planetsleft{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20%;
    margin: 9%;
    gap: 10%
}
.content-section3-planetsright{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 20%;
    margin: 9%;
    gap: 10%
}

.content-section3-planets-maininfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.content-section3-planets-maininfo-title{
    font-family: 'Righteous', sans-serif;
    font-size: 38px;
}

.content-section3-planets-maininfo-paragraph{
    font-family: 'Sarala', sans-serif;
    font-size: 24px;
}

.bottom-options-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Righteous', sans-serif;
    color:white;
    gap:10px
}

.back-to-home, .back-to-menu{
    color:white;
}

.info-bottom-options-menu:hover, .info-bottom-options-home:hover {
    opacity: 0.4;
}
/* INFO SECTION */

/* FOOTER */
.bottomfooter{
    background-color: #223;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding:24px;
}

.returnhomelink{
    width: 95px;
    height: 47px;
}

.bottomfooter-logo{
    width: 100%;
}

.bottomfooter-logo:hover {
    opacity: 0.6;
}

.bottomfooter-info{
    display:flex;
    flex-direction: row;
    font-family: 'Righteous', sans-serif;
    font-weight: 400;
    color: rgb(218, 227, 235);
}

.bottomfooter-creator{
    color:#b0b0ba
}

.bottomfooter-socialmedia{
    width:10%
}

.bottomfooter-socialmedia-logo{
    width:25%;
}

.bottomfooter-socialmedia-logo:hover{
    opacity:0.6;
}
/* FOOTER */

/* SET INVISIBLE MOBILE */
/* SET INVISIBLE MOBILE */

/* MOBILE MEDIA QUERIE */
@media (max-width:768px){
    header{
        position: sticky;
    }


}
/* MOBILE MEDIA QUERIE */